@model IEnumerable<ApplicationUser>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <section class="htc__product__area ptb--130 bg__white">
        <div class="backgroundWhite container">
            <div class="card">
                <div class="card-header bg-dark text-light ml-0 row container">
                    <div class="col-12 d-none d-md-block col-md-4 pb-1">
                        <h3 style="color:white; font-size:28px;">Danh sách người dùng</h3>
                    </div>
                    <form class="form-inline col-12 col-md-4 offset-md-2 text-center" asp-action="Index" method="get">
                        <input class="form-control mr-sm-2" placeholder="Tìm Kiếm..." aria-label="Search" type="text" name="SearchString" value="@ViewData["currentFilter"]">
                        <button class="btn btn-primary my-2 my-sm-0" type="submit" value="Search">Tìm</button>
                        

                    </form>
                    <div class="col-12 d-md-block col-md-2 pb-1">
                        <button class="btn btn-primary my-2 my-sm-0"><a asp-area="Identity" asp-page="/Account/Register" style="color:white;">Thêm Admin</a></button>
                        @*<a asp-action="Create" class="btn btn-outline-secondary form-control btn-sm">Thêm sản phẩm</a>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="backgroundWhite">

                @if (Model.Count() > 0)
                {
                    <table class="table table-striped table-bordered table-hover">
                        <tr class="p-3 mb-2 bg-secondary text-white">
                            <th>Họ tên</th>
                            <th>Email</th>
                            <th>Số điện thoại</th>
                            <th>Địa chỉ</th>
                            <th>Quyền truy cập</th>
                            <th>Khóa/Mở khóa</th>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(m => item.FullName)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => item.PhoneNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => item.Adress)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => item.Role)
                                </td>
                                <td>
                                    @if (Html.DisplayFor(m => item.Role).ToString().Equals("Admin"))
                                    {
                                        <input type="text" disabled value="Not access" />
                                    }
                                    else
                                    {
                                        @if (item.LockoutEnd == null || item.LockoutEnd < DateTime.Now)
                                        {
                                            @if (SignInManager.IsSignedIn(User) && item.UserName == @UserManager.GetUserName(User))
                                            {
                                                <a></a>
                                            }
                                            else
                                            {
                                                <a class="btn btn-primary text-white" asp-action="Lock" asp-route-id="@item.Id" onclick="return confirm('Bạn có muốn khóa tài khoản này không?');">Khóa</a>
                                            }

                                        }
                                        else
                                        {
                                            @if (SignInManager.IsSignedIn(User) && item.UserName == @UserManager.GetUserName(User))
                                            {
                                                <a></a>
                                            }
                                            else
                                            {
                                                <a class="btn btn-danger text-white" asp-action="UnLock" asp-route-id="@item.Id" onclick="return confirm('Bạn có muốn mở khóa tài khoản này không?');">Mở khóa</a>
                                            }

                                        }
                                    }
                                </td>
                            </tr>
                        }
                    </table>
                }
                else
                {
                    <table class="table table-striped table-bordered table-hover">
                        <tr>
                            <td style="text-align:center">Chưa có tài khoản!!!</td>
                        </tr>
                    </table>
                       
                        }

                </div>
        </div>
    </section>

